.parentContainer {
    display: grid;
    place-items: center; /* Center both horizontally and vertically */
    height: 100vh; /* Full height of the viewport */
    background: linear-gradient(128deg, #3aafa9 80%, #def2f1 80.1%); /* Adjust the gradient stops */
    position: relative; /* Ensure the parent container has a positioning context */
}

.totalContainer {
    position: relative; /* Establish positioning context */
    background-color: #feffff;
    z-index: 1; /* Ensure it sits above the parent container */
    height: 65vh; /* Set a fixed height for the total container */
    width: 80vw; /* Set a fixed width for the total container */
    display: flex;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25); /* Add a shadow to the total container */
}

.aboutLeftContainer {
    background-color: #feffff;
    height: 100%; /* Full height of the total container */
    width: 50%; /* Take up 60% of the total container */
    display: flex;
    flex-direction: column; /* Make it a flex container with column direction */
    position: relative;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}

.aboutContainer {
    position: relative;
    background-color: #feffff;
    height: 100%; /* Full height of the total container */
    width: 50%; /* Take up 40% of the total container */
    display: flex;
    flex-direction: column; /* Make it a flex container with column direction */
    overflow: hidden; /* Allow overflow to be visible */
}

.myPicture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
    max-height: 70%;
    min-height: 50%;
    position: relative; /* Use relative positioning */
    overflow: hidden; /* Hide overflow to see the scaled image */
    z-index: 0;
}

.myPicture img {
    width: auto; /* Maintain the aspect ratio */
    height: 100%; /* Make the image take up the full height of the container */
    object-fit: contain; /* Ensure the image maintains its aspect ratio */
}

.overflowContainer {
    overflow-y: auto; /* Enable vertical scrolling */
    flex-grow: 1; /* Allow it to grow and take up remaining space */
    scrollbar-width: none; /* Make the scrollbar thin for Firefox */
    position: relative; /* Establish positioning context */
}

.scroll-bar-container {
    position: absolute; /* Position the scrollbar absolutely */
    top: 18%;
    right: 10px;
    width: 5px; /* Adjust the width of the vertical bar */
    height: 57%;
    background-color: #cdf1f0; /* Adjust the color of the vertical bar */
    z-index: 9998;
    border-radius: 5px; /* Adjust the border radius */
}

.scroll-bar {
    border-radius: 5px;
    min-height: 1%;
    max-height: 57%;
    position: absolute; /* Position the scrollbar absolutely */
    top: 18%;
    right: 10px;
    width: 5px; /* Adjust the width of the vertical bar */
    height: 1%;
    background-color: #3aafa9; /* Adjust the color of the vertical bar */
    z-index: 9999;
    transition: height 0.1s ease-out; /* Smooth transition for the height */
  }

.textContainer {
    font-size: 18px; /* Set font size for the text */
    font-family: 'Montserrat', sans-serif;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px; /* Adjust this value to create space for the picture */
}

.headerContainer{
    font-family: 'Montserrat', sans-serif;
    margin-top: 80px;
    margin-left: 80px;
    font-size: 30px; /* Set font size for the header */
    font-weight: bold; /* Make the header bold */
    margin-bottom: 10px; /* Space below the header */
    
}

.bottomDiv{
    margin-left: 80px;
    padding-top: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    position:relative;
    background-color: transparent;
    color: black;
    font-size: 35px;
    font-weight: 500;
    transition: all 0.2s;
    height: 300px;
    gap: 20px;
}

.projectsBtnContainer{
    text-decoration: none;
    color: #3aafa9;
    margin-top: -30px; /* Adjust this value to move the button up */
}

.projectsBtn {
    text-align: start;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em; /* Change font size */
    background-color: transparent; /* Remove background color */
    color: inherit; /* Inherit color from parent */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor to pointer */
    transition: color 0.35s; /* Add transition effect */
    line-height: 1; /* Adjust line height */
    margin: 0; /* Remove margin */
    padding: 10px; /* Adjust padding */
    position: relative;
}

.line1 {
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 100%;
    background-color: #cdf1f0;
    transition: width 0.5s;
}

.line2 {
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 0%;
    background-color: #3aafa9;
    transition: width 0.5s;
}

.projectsBtn:hover .line2 {
    width: 100%;
}

.projectsBtn:hover {
    color: #2c837e;
}

.blob {
    position: absolute;
    background-color: #96dbd9;
    opacity: 1;
    clip-path: circle(50% at 50% 50%);
}

/* Specific styles for each blob to create a cloud pattern */
.blob1 {
    width: 200px;
    height: 200px;
    bottom: -50px;
    right: -50px;
    z-index: 0;
}

.blob2 {
    width: 150px;
    height: 150px;
    bottom: -30px;
    right: 100px;
    z-index: 0;
}

.blob3 {
    width: 180px;
    height: 130px;
    bottom: -65px;
    right: 210px;
    clip-path: ellipse(50% 50% at 70% 50%) !important;
    z-index: 0;
}

.blob4 {
    width: 220px;
    height: 220px;
    top: -35px;
    left: -55px;
    z-index: 1;
}

.blob5 {
    width: 160px;
    height: 160px;
    top: -30px;
    left: 100px;
    z-index: 1;
}

.blob6 {
    width: 160px;
    height: 160px;
    top: -70px;
    left: 180px;
    z-index: 1;
}

.aboutProjectsButton {
    border-radius: 25px;
    position: absolute;
    bottom: 50px;
    left: 0%;
    width: 200px;
    height: 50px;
    background-color: #69c2bf;
    color: white;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    overflow: hidden; /* Ensure the pseudo-element is contained within the button */
    transition: color 0.2s; /* Transition for text color */
    z-index: 1;
}

.aboutProjectsButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #47b9b6;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: -1; /* Ensure the pseudo-element is behind the text */
}

.aboutProjectsButton:hover::before {
    transform: translateX(0);
}

.aboutProjectsButton:hover {
    color: white; /* Ensure text color remains white on hover */
}