.contactBackgroundContainer{
    height: 100vh;
    width: 100vw;
    background-color: #2b3d45;
}
.contactTitle{
    font-size: 3em;
    color: white;
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background-color: rgb(184, 184, 184); */
    background-color: #2b3d45;
    box-sizing: border-box;
    padding: 100px;
    position:relative;
}

.contactContainer h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.contactContainer form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
}

.contactContainer .inputRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.contactContainer .inputGroup {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-bottom: 20px;
}

.contactContainer input[type="text"],
.contactContainer input[type="email"],
.contactContainer textarea {
    width: 100%;
    padding: 25px; /* Increase padding for larger input area */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.1em; /* Increase font size */
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
}

/* .contactContainer input[type="text"]:focus,
.contactContainer input[type="email"]:focus,
.contactContainer textarea:focus {
    border-color: black;
    outline: none;
} */


.contactContainer .buttonContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.contactContainer button[type="submit"] {
    padding: 15px 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
    width: 150px;
    height: 60px;
}

.contactContainer button[type="submit"]:hover {
    background-color: lightgray;
    color: black;
}

.bottomContactDiv {
    margin-top: auto; /* Push the bottomContactDiv to the bottom */
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

.botNavContactIcon {
    display: inline-flex; /* Use flexbox to align items */
    align-items: center; /* Center items vertically */
    margin: 5px 20px;
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
}

.botNavContactIcon svg {
    margin-right: 10px; /* Add space between the icon and the text */
}

.successMessage, .errorMessage {
    text-align: center;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    color: white;
}

.inputContainer {
    position: relative;
    margin-bottom: 15px;
    overflow: visible;
    
}

.floatingLabel {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    pointer-events: none;
    color: #aaa;
    z-index: 1; /* Ensure the label appears above the input field */
}

.inputContainer input,
.inputContainer textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    z-index: 0; /* Ensure the input field is below the label */
}

.inputContainer input:focus + .floatingLabel,
.inputContainer input:not(:placeholder-shown) + .floatingLabel,
.inputContainer input:valid + .floatingLabel,
.inputContainer textarea:focus + .floatingLabel,
.inputContainer textarea:not(:placeholder-shown) + .floatingLabel,
.inputContainer textarea:valid + .floatingLabel {
    top: -15px; /* Adjust this value to position the label outside the input field */
    left: 10px;
    transform: translateY(-70%); /* Remove the translateY to position it correctly */
    font-size: 0.9em;
    color: white;
}